# Node / Next.js
node_modules/
.pnp
.pnp.js
.next/
out/
dist/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Testing
coverage/

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Python
venv/
__pycache__/
*.py[cod]
*.sqlite3

# Django
backend/db.sqlite3
backend/media/
backend/staticfiles/

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db

# Vercel
.vercel

# Misc
*.pem
